@font-face {
	font-family: "Beatrice";
	src: url("./fonts/Beatrice.ttf");
}

@font-face {
	font-family: "Beatrice";
	src: url("./fonts/Beatrice Semibold.ttf");
	font-weight: 500;
}

@font-face {
	font-family: "Beatrice";
	src: url("./fonts/Beatrice Bold.ttf");
	font-weight: 700;
}

/*break points*/
$small-up: "min-width: 480px";
$medium-up: "min-width: 768px";
$large-up: "min-width: 1024px";

/*spacing*/
$innerpad: 2rem;

/*transition*/
$transition: 200ms cubic-bezier(0.4, 0, 1, 1);

/*colors*/
$white: #ffffff;
$black: #000000;
$slate: #4A5567;
$darkgray: #404040;
$gray: #c0c0c0;
$alsogray: #d3d3d3;
$lightgray: #f5f8fa;
$orange: #FA4B28;
$mediumorange: #D53B13;

html {
	font-family: Beatrice, Helvetica, Arial, sans-serif;
	height: 100%;
}

body {
	color: $slate;
	font-size: 16px;
	font-weight: normal;
	height: 100%;
	line-height: 1.56;
	margin: 0;

	@media ($large-up) {
		font-size: 17px;
	}
}

.site-container {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1;
}

strong {
	font-weight: 700;
}

.has-color-white {
	color: $white;
}

.has-bg-white {
	background-color: $white;
}

.has-color-black {
	color: $black;
}

.has-bg-black {
	background-color: $black;
}

.has-color-gray {
	color: $gray;
}

.has-bg-gray {
	background-color: $gray;
}

.has-color-lightgray {
	color: $lightgray;
}

.has-bg-lightgray {
	background-color: $lightgray;
}

.has-color-slate {
	color: $slate;
}

.has-bg-slate {
	background-color: $slate;
}

.has-color-orange {
	color: $orange;
}

.has-bg-orange {
	background-color: $orange;
}

.text-center {
	text-align: center;
}

.text-large {
	font-size: 18px;

	@media ($large-up) {
		font-size: 24px;
	}
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

[class*="__inner"] {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 20px;

	@media ($medium-up) {
		padding: 0 32px;
	}
}

h1,
.h1 {
	font-size: 48px;
	line-height: 1.1;
	letter-spacing: 0.063rem;
	margin-bottom: 24px;

	@media ($medium-up) {
		font-size: 64px;
	}

	@media ($large-up) {
		font-size: 80px;
	}
}

h2,
.h2 {
	font-size: 32px;
	margin-bottom: 24px;
	line-height: 1.15;
	color: $black;
	letter-spacing: -2.18px;

	@media ($medium-up) {
		font-size: 48px;
	}

	@media ($large-up) {
		font-size: 70px;
	}
}

h3,
.h3 {
	font-size: 26px;
	margin-bottom: 24px;
	line-height: 1.15;

	@media ($medium-up) {
		font-size: 32px;
	}

	@media ($large-up) {
		font-size: 48px;
	}
}

h4,
.h4 {
	font-size: 30px;
	margin-bottom: 24px;
	line-height: 1.15;
}

h5,
.h5 {
	font-size: 20px;
	margin-bottom: 24px;
	line-height: 1.15;
}

p {
	line-height: 1.75;
	margin-bottom: 24px;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.btn {
	display: inline-flex;
	appearance: none;
	align-items: center;
	justify-content: center;
	position: relative;
	font-weight: 500;
	border-radius: 9999px;
	transition: $transition;
	line-height: 1.2;
	width: auto;
	outline-offset: 2px;
	white-space: nowrap;
	padding: 16px 36px;
	font-size: 14px; 
	color: $white;
	background: $orange;
	text-decoration: none;

	@media ($small-up) {
		font-size: 16px;
	}

	@media ($medium-up) {
		font-size: 18px;
	}

	&:hover,
	&:active,
	&:focus {
		background: $mediumorange;
		border-color: $mediumorange;
		text-decoration: none;
	}

	&:active,
	&:focus {
		box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
	}
}

.btn.ghost {
	background: transparent;
	border: 2px solid $gray;
	color: $black;

	&:hover,
	&:active,
	&:focus {
		background: $darkgray;
		border-color: $darkgray;
		text-decoration: none;
		color: $white;
	}

	&:active,
	&:focus {
		box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
		background: $gray;
		border-color: $gray;
	}
}

.btn.white{
	background: $white;
	color: $black;

	&:hover,
	&:active,
	&:focus {
		color: $orange;
	}

	&:active,
	&:focus {
		box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
		color: $orange;
	}
}

/*header*/
.site-header {
	height: 68px;
	background: $white;
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 3;

	.btn {
		padding: 1rem 1.25rem;

		@media ($medium-up) {
			padding: 1rem 2.25rem;
		}
	}
}

.site-nav__inner {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.site-logo svg {
	height: 20px;

	@media ($small-up) {
		height: 24px;
	}
}

.site-logo {
	display: block;
	line-height: 1;
	text-decoration: none;
}

/*modules*/
.hero {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: url("./assets/Laggards_LP_Hero.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;

	&::before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.5);
	}

	@media ($medium-up) {
		height: 500px;
		background-position: left top;
	}

	@media ($large-up) {
		height: 720px;
		background-position: center top;

		&::before {
			display: none;
		}
	}

	@media (min-width: 1500px) {
		height: 900px;
	}

	&__flex-wrap {
		width: 100%;
		position: relative;
		z-index: 2;
	}

	&__inner {
		padding: 120px 20px 40px;
		
		@media ($large-up) {
			padding: 32px;
			margin-bottom: 80px;
		}
	}

	&__content {

		@media ($medium-up) {
			max-width: 460px;
		}

		@media ($large-up) {
			max-width: 540px;
		}
		
	}
}

.pf-track-block {
	padding: 48px 0 80px;

	@media ($medium-up) {
		padding: 64px 0 80px;
	}

	&__title {
		max-width: 1048px;
		margin: 0 auto;
		text-align: left;

		@media ($medium-up) {
			text-align: center;
		}
	}

	.pf-carousel {
		padding: 32px 0 0;
		text-align: center;

		@media ($small-up) {
			display: flex;
			justify-content: center;
		}

		@media ($medium-up) {
			padding: 80px 0 32px;
		}

	}

	.pf-carousel-item {
		width: 100%;
		display: inline-block;
		max-width: 360px;
		margin: 0 0 48px;
		text-align: left;
		position: relative;

		@media ($small-up) {
			margin: 0 10px;
		}

		@media ($medium-up) {
			margin: 0 10px;
			max-width: 360px;
		}
	}

	[data-qa-hook="content-type-asset"] {
		background: $alsogray;
		border-radius: 20px;
		color: $slate;
		display: inline-block;
		font-size: 10px;
		font-weight: 700;
		line-height: 0.9;
		margin-bottom: 10px;
		padding: 8px 10px;
		text-transform: uppercase;
		text-align: left;
		position: absolute;
		top: 10px;
		left: -10px;
		box-shadow: 0 3px 10px rgb(0 0 0 / 35%);
	}

	.pf-microsite-card {
		text-align: left;

		img {
			width: 100%;
			margin-bottom: 36px;
			display: block;
		}

		div {
			color: $slate;
			text-align: left;
			line-height: 1.75;
		}

		div:first-child {
			font-weight: 500;
			color: $black;
		}
	}

	.pf-microsite-card-link {
		text-decoration: none !important;

		&:hover {
			text-decoration: none !important;
		}
	}

	.pf-carousel-action {
		text-align: center;
		
		@media ($medium-up) {
			margin-top: 2rem;
		}
	}
}

.icon-callouts {
	padding: 80px 0;

	@media ($medium-up) {
		padding: 112px 0;
	}

	@media ($large-up) {
		padding: 160px 0;
	}

	&__title {
		margin-bottom: 32px;

		@media ($medium-up) {
			max-width: 700px;
			margin-bottom: 48px;
		}

		@media ($large-up) {
			margin-bottom: 64px;
		}
	}

	&__items {
		display: grid;
		row-gap: 30px;
		column-gap: 50px;
		
		@media ($small-up) {
			grid-template-columns: repeat(2, 1fr );
		}

		@media ($medium-up) {
			grid-template-columns: repeat(3, 1fr);
			row-gap: 50px;
			column-gap: 75px;
		}

		@media ($large-up) {
			column-gap: 190px;
			padding: 0 40px;
		}
	}

	&__item {
		
		&-icon {
			width: 40px;
			margin-bottom: 10px;
			display: block;
		}

		&-title {
			margin-bottom: 10px;
			color: $black;
		}

		&-content {
			margin-bottom: 0;
		}
	}
}

.content-left {
	padding: 80px 0;
	position: relative;
	overflow: hidden;

	@media ($medium-up) {
		padding: 80px 0;
	}

	@media ($large-up) {
		padding: 120px 0;
	}

	&__background {
		position: absolute;
		opacity: 0.1;
		width: 600px;
		top: -120px;
		right: -220px;

		@media ($medium-up) {
			top: -200px;
			right: -200px;
			width: 900px;
		}
	}

	&__title {
		max-width: 600px;

		@media ($medium-up) {
			max-width: 800px;
		}
	}

	&__text {
		max-width: 550px;
	}
}

.alternating-feature {
	padding: 80px 0;

	@media ($medium-up) {
		padding: 100px 0;
	}

	@media ($large-up) {
		padding: 148px 0;
	}

	&__grid {
		row-gap: 24px;
		display: grid;
		grid-template-columns: repeat(1, 1fr);

		@media ($medium-up) {
			grid-template-columns: repeat(2, 1fr);
			column-gap: 50px;
		}

		@media ($large-up) {
			column-gap: 75px;
		}
	}

	&__image {
		img {
			width: 100%;
		}
	}

	&__content {
		margin-top: -5px;
	}

	&__text {
		max-width: 530px;
		font-size: 18px;
		line-height: 1.35;
		margin-bottom: 45px;

		@media ($large-up) {
			font-size: 24px;
		}
	}
}

/*footer*/
.site-footer {
	height: 70px;
}

.site-footer__nav {
	font-size: 14px;
	color: $slate;
	padding: 24px 0;
	
	a {
		color: $slate;
		text-decoration: none;
	}

	ul {
		display: inline-flex;
		align-items: center;
		line-height: 1;

		li {
			margin-right: 24px;
		}
	}
}

